{{ 'custom-carousel.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'flickity.js' | asset_url | script_tag }}

{% if section.settings.show_section %}
  <div class="custom-carousel">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image_slide' %}
          <div
            class="image-slide"
            style="position: relative;"
            {{ block.shopify_attributes }}
          >
            <a href="{{ block.settings.url}}">{{ block.settings.text }}</a>
            <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}">
              {%- if block.settings.image -%}
                <img
                  srcset="
                    {%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                    {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                    {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                    {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                    {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                    {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                  "
                  sizes="100vw"
                  src="{{ block.settings.image | image_url: width: 1500 }}"
                  loading="lazy"
                  alt="{{ block.settings.image.alt | escape }}"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round }}"
                >
              {%- else -%}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
        {% when 'video_slide' %}
          <div class="video-slide" {{ block.shopify_attributes }}>
            <a href="{{ block.settings.url}}">{{ block.settings.text }}</a>
            <iframe
              src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              width="100%"
              height="100%"
            ></iframe>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const slider = document.querySelector('.custom-carousel');
        const flkty = new Flickity( slider, {
            cellAlign: 'left',
            contain: true,
            freeScroll: true,
            wrapAround: true,
            autoPlay: 50000,
            fullscreen: true,
            lazyLoad: 1
        });
    });
</script>

{% schema %}
{
  "name": "Custom carousel",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "default": true,
      "label": "Show section"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image_slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Slide text with link",
          "label": "slide text"
        },
        {
          "type": "text",
          "id": "url",
          "default": "https://shopify.dev/api/consent-tracking",
          "label": "url"
        }
      ]
    },
    {
      "name": "Video",
      "type": "video_slide",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "placeholder": "t:sections.video.settings.video_url.placeholder",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Slide text with link",
          "label": "slide text"
        },
        {
          "type": "text",
          "id": "url",
          "default": "https://shopify.dev/api/consent-tracking",
          "label": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom carousel",
      "category": "Custom"
    }
  ]
}
{% endschema %}
