{{ 'custom-slider.css' | asset_url | stylesheet_tag }}
{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'flickity.js' | asset_url | script_tag }}


{% if section.settings.show_section %}
   <div class="custom-slider__wrapper">
        <div class="page-width">
             <h2>{{ section.settings.custom_text_title }}</h2>
        </div> 
         {% unless section.settings.collection == blank %}
         {%- assign collection = collections[section.settings.collection] -%}
            <div class="custom-slider" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": {{ section.settings.autoplay_speed }} }'>           
                {%- for product in collection.products limit: section.settings.limit -%}
                    <div class="custom-slider__product slider-item">
                        <div class="slider-item__image">
                            <img src="{{ product.featured_image | image_url: width: 280}}" alt="{{ product.title }}">
                        </div>
                        <div class="slider-item__text">
                            <p>{{ product.title | truncate: 37 }}</p>
                            <p>Price: {{ product.price | money }}</p>
                        </div>
                    </div>                        
                {%- endfor -%}
            </div>
         {% endunless %}
   </div>
{% endif %}

{% schema %}
  {
    "name": "Custom slider",
    "settings": [
      {
         "type": "checkbox",
         "id": "show_section",
         "default": true,
         "label": "Show section"
      },
      {
         "id": "custom_text_title",
         "type": "text",
         "label": "Text box heading",
         "default": "Title"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Products limit",
        "default": 10
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Autoplay speed",
        "options": [
            { "value": "1000", "label": "1 seconds" },
            { "value": "2000", "label": "2 seconds" },
            { "value": "3000", "label": "3 seconds" },
            { "value": "4000", "label": "4 seconds" },
            { "value": "5000", "label": "5 seconds" },
            { "value": "6000", "label": "6 seconds" },
            { "value": "7000", "label": "7 seconds" },
            { "value": "8000", "label": "8 seconds" },
            { "value": "9000", "label": "9 seconds" },
            { "value": "10000", "label": "10 seconds" }
          ],
        "default": "3000"
        }
    ],
    "presets": [
      {
         "name": "Custom slider",
         "category": "Custom"
      }
   ]
  }
{% endschema %}